Labs_1sem/Kyar/lab11/SPECIALIZATION.xsd

<?xml version="1.0"?>
<?xml-stylesheet type="text/css" href="1.css"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SPECIALIZATION">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NAME" type="xs:string"/>
				<xs:element name="TIME" type="xs:string"/>
				<xs:element name="EXAM" type="xs:string"/>
				<xs:element name="PAGES" type="xs:string"/>
				<xs:element name="PASSING" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>